[Unit]
AssertPathExists=/home/cel/bin/idlehandler.wayland

[Service]
ExecStart=/home/cel/bin/idlehandler.wayland
NoNewPrivileges=true
PrivateTmp=true
Restart=always
# For some reason the idlehandler sometimes struggles to connect to the
# compositor and will fail repeatedly, so let's give it more time:
RestartSec=5s
WorkingDirectory=/home/cel

[Install]
WantedBy=default.target
