[Unit]
AssertPathExists=/usr/bin/kanshi

[Service]
WorkingDirectory=/home/cel
#Environment=GHOST_NODE_VERSION_CHECK=false
ExecStart=/usr/bin/kanshi
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
