#
# Basics:
#
    # start a terminal
    bindsym $mod+Return exec $term

    # kill focused window
    bindsym $mod+Shift+q kill
    bindsym $mod+c kill

    # start your launcher
    bindsym $mod+d exec "rofi -combi-modi window,drun,run -show combi -modi combi"
    bindsym shift+$mod+d exec $menu_alt

    # Drag floating windows by holding down $mod and left mouse button.
    # Resize them with right mouse button + $mod.
    # Despite the name, also works for non-floating windows.
    # Change normal to inverse to use left mouse button for resizing and right
    # mouse button for dragging.
    floating_modifier $mod normal

    # reload the configuration file
    bindsym $mod+Shift+c reload

    # restart sway inplace (preserves your layout/session, can be used to upgrade sway)
    bindsym $mod+Shift+r restart

    # exit sway (logs you out of your wayland session)
    bindsym $mod+Shift+e exit
#
# Moving around:
#
    # Move your focus around with $mod+[h|j|k|l], like vim
    bindsym $mod+h focus left
    bindsym $mod+j focus down
    bindsym $mod+k focus up
    bindsym $mod+l focus right

    # cursor keys changes workspace (on same output, like in awesome):
    bindsym $mod+Left  workspace prev_on_output
    bindsym $mod+Right workspace next_on_output

    # or use $mod+[up|down|left|right]
    # bindsym $mod+Left focus left
    # bindsym $mod+Down focus down
    # bindsym $mod+Up focus up
    # bindsym $mod+Right focus right

    # _move_ the focused window with the same, but add Shift
    bindsym $mod+Shift+h move left
    bindsym $mod+Shift+j move down
    bindsym $mod+Shift+k move up
    bindsym $mod+Shift+l move right
    # ditto, with arrow keys
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right

#
# Moving between outputs:
#
    # control key is output modifier ($mod=Mod4)
    set $output-mod Mod4+control

    # vim keys changes output
    bindsym $output-mod+h focus output left, exec ~/bin/sway-ws.rb
    bindsym $output-mod+j focus output down, exec ~/bin/sway-ws.rb
    bindsym $output-mod+k focus output up, exec ~/bin/sway-ws.rb
    bindsym $output-mod+l focus output right, exec ~/bin/sway-ws.rb

    # $output-mod+shift moves focused window to other outputs
    bindsym $output-mod+Shift+h move container to output left
    bindsym $output-mod+Shift+j move container to output down
    bindsym $output-mod+Shift+k move container to output up
    bindsym $output-mod+Shift+l move container to output right

    # $output-mod+shift+cursor keys moves workspace to other outputs
    bindsym $output-mod+Shift+Left  move workspace to output left
    bindsym $output-mod+Shift+Down  move workspace to output down
    bindsym $output-mod+Shift+Up    move workspace to output up
    bindsym $output-mod+Shift+Right move workspace to output right

#
# Workspaces:
#
    # create new numeric workspace
    bindsym $mod+0 exec ~/bin/sway-new-ws.rb

    # move to new numeric workspace
    bindsym $mod+Shift+0 exec ~/bin/sway-move-new-ws.rb

    # switch to workspace
    bindsym $mod+1 workspace 1
    bindsym $mod+2 workspace 2
    bindsym $mod+3 workspace 3
    bindsym $mod+4 workspace 4
    bindsym $mod+5 workspace 5
    bindsym $mod+6 workspace 6
    bindsym $mod+7 workspace 7
    bindsym $mod+8 workspace 8
    bindsym $mod+9 workspace 9
    # move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace 1
    bindsym $mod+Shift+2 move container to workspace 2
    bindsym $mod+Shift+3 move container to workspace 3
    bindsym $mod+Shift+4 move container to workspace 4
    bindsym $mod+Shift+5 move container to workspace 5
    bindsym $mod+Shift+6 move container to workspace 6
    bindsym $mod+Shift+7 move container to workspace 7
    bindsym $mod+Shift+8 move container to workspace 8
    bindsym $mod+Shift+9 move container to workspace 9
#
# Layout stuff:
#
    # You can "split" the current object of your focus with
    # $mod+h or $mod+v, for horizontal and vertical splits
    # respectively.
    # bindsym $mod+h splith
    bindsym $mod+v splitv
    bindsym $mod+Shift+v splith

    # Switch the current container between different layout styles
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # Make the current focus fullscreen
    bindsym $mod+f fullscreen

    # Toggle the current focus between tiling and floating mode
    #bindsym $mod+Shift+period floating toggle
    bindsym $mod+Shift+space floating toggle

    # Swap focus between the tiling area and the floating area
    bindsym $mod+period focus mode_toggle
    #bindsym $mod+space focus mode_toggle

    # move focus to the parent container
    bindsym $mod+a focus parent
#
# Scratchpad:
#
    # Sway has a "scratchpad", which is a bag of holding for windows.
    # You can send windows there and get them back later.

    # Move the currently focused window to the scratchpad
    bindsym $mod+Shift+minus move scratchpad

    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    bindsym $mod+minus scratchpad show

