# (having a comment here makes vim understand the syntax of this file)

bindsym {
  control+$alt+l exec ~/bin/screenlock.sway
  --locked control+$alt+s exec ~/bin/suspend.sway

  # printscreen / screenshot:
  Print exec ~/bin/screenshot-partial.sway
  Shift+Print exec ~/bin/screenshot.sway

  # Use xev to find keys:
  --locked XF86AudioRaiseVolume exec --no-startup-id ~/bin/volup
  --locked XF86AudioLowerVolume exec --no-startup-id ~/bin/voldown

  XF86Calculator exec ~/bin/calculator
  XF86Favorites exec ~/bin/screenshot

  --locked XF86MonBrightnessUp exec brightnessctl s +10%
  --locked XF86MonBrightnessDown exec brightnessctl s 10%-

  # conveniently change resolution/scale of current display up/down.
  f2 exec ~/bin/sway-res-current
  shift+f2 exec ~/bin/sway-res-current-reverse
  control+f2 exec ~/bin/select-mode.rb

  f3 exec ~/bin/sway-scale-current
  shift+f3 exec ~/bin/sway-scale-current-reverse
  control+f3 exec ~/bin/select-scale.rb

  control+f4 exec ~/bin/select-rotation.rb

  # turn gaps on/off. theme-air uses 15 pixels:
  $mod+g exec swaymsg gaps inner current set 0
  $mod+shift+g exec swaymsg gaps inner current set 15

  $mod+o opacity plus 0.1
  $mod+shift+o opacity minus 0.1
}

bindsym {
  # multimedia previous/next become volume keys:
  --locked XF86AudioPrev exec --no-startup-id ~/bin/voldown
  --locked XF86AudioNext exec --no-startup-id ~/bin/volup

  --locked XF86AudioMute exec --no-startup-id ~/bin/volmutetoggle

  # super & page up/down for volume keys (yes next is pg+down)
  --locked $mod+Next exec --no-startup-id ~/bin/voldown
  --locked $mod+Prior  exec --no-startup-id ~/bin/volup

  # super & delete to toggle mute:
  --locked $mod+delete exec --no-startup-id ~/bin/volmutetoggle
}
