# default to some background that will probably exist:
output * bg ~/Bilder/wallpapers/1 fill

set $dellicious_out1 'Sharp Corporation 0x143E 0x00000000'

# laptop config #1:

  # $out_home_dell1 should be DP-2
  # $out_home_dell2 should be HDMI-A-1
  output $out_home_dell_over {
    # we use 640 instead of zero so that we can have the same position for
    # $dellicious_out1 at home and at work...
    #pos 640 0
    pos 3200 -1080

    bg ~/Bilder/wallpapers/2 fill
  }

  # output $out_home_dell_under {
  #   # we use 640 instead of zero so that we can have the same position for
  #   # $dellicious_out1 at home and at work...
  #   pos 640 1080

  #   # FIXME: this should not be needed, but when switching from work to home it
  #   # will stay rotated unless the config is reloaded. Perhaps this makes
  #   # config reload unnecessary:
  #   transform normal

  #   bg ~/Bilder/wallpapers/3 fill
  # }

  output $dellicious_out1 {
    # position is good at home but not at work...
    #pos 2560 0

    # for work:
    pos 3200 0
    scale 2

    bg ~/Bilder/wallpapers/1 fill
  }

  output $out_home_benq_right {
    pos 5760 -1080

    transform 90

    bg ~/Bilder/wallpapers/3 fill
  }

# laptop config #2:

  # $work_dell1 should be DP-2
  # $work_dell2 should be HDMI-A-1
  set $work_dell1 'Dell Inc. DELL U2718Q FN84K81J0L7L'
  set $work_dell2 'Dell Inc. DELL P2715Q V7WP958R348S'
  set $work_dell3 'Dell Inc. Dell U4919DW FFW0XP2'

  output $work_dell1 {
    # sway actually allows a setup where no monitor has the 0x0 position, so
    # lets just append these monitors further to the right:
    # 2560 + 2560 = 5120
    pos 5120 0
    res 2560x1440
  }

  output $work_dell2 {
    # don't really need this position since sway will do the right thing:
    pos 7680 0
    res 1920 1080
    transform 270
  }

  output $work_dell3 {
    # we want this to be above the laptop monitor (where it is physically
    # located), but there's no way to change the position of the laptop screen
    # away from "0x0" only when this monitor is plugged in, so we just place it
    # below the laptop instead...
    pos 1280 1440
  }

### bar config:

  bar {
      output $out_home_dell1
      output $out_home_benq1
      output $out_home_benq2
      output $out_home_switch

      output $work_dell1
      output $work_dell2
      output $work_dell3

      output $dellicious_out1

      # waybar doesn't like fedora 30?
      #swaybar_command /usr/local/bin/waybar
      swaybar_command /usr/bin/swaybar
      status_command /usr/bin/i3status

      position top
  }

  bar {
      output $out_home_dell2

      # waybar doesn't like fedora 30?
      #swaybar_command /usr/local/bin/waybar
      swaybar_command /usr/bin/swaybar
      status_command /usr/bin/i3status

      position bottom
  }
