# kira config:

  # DP-5
  output $out_home_dell1 {
    pos 0 0

    bg ~/Bilder/wallpapers/1 fill
  }

  # DP-3
  output $out_home_dell2 {
    pos 0 1080

    bg ~/Bilder/wallpapers/2 fill
  }

  output $out_home_benq1 {
    pos 2560 0
    transform 270

    bg ~/Bilder/wallpapers/3 fill
  }

  output $out_home_benq2 {
    pos 3640 0

    bg ~/Bilder/wallpapers/4 fill
  }

  output $out_home_switch {
    pos 3640 0

    bg ~/Bilder/wallpapers/4 fill
  }

### bar config:

  bar {
      output $out_home_dell2

      # waybar doesn't like fedora 30?
      #swaybar_command /usr/local/bin/waybar
      swaybar_command /usr/bin/swaybar

      # Start i3bar to display a workspace bar (plus the system information
      # i3status finds out, if available)
      status_command /usr/bin/i3status

      position bottom
  }

  bar {
      output $out_home_dell1
      output $out_home_benq1
      output $out_home_benq2
      output $out_home_switch

      # waybar doesn't like fedora 30?
      #swaybar_command /usr/local/bin/waybar
      swaybar_command /usr/bin/swaybar
       status_command /usr/bin/i3status

      position top
  }
