# variables:

  set $out_home_dell1 'Dell Inc. DELL U2913WM 9DD4K62O422L'
  set $out_home_dell2 'Dell Inc. DELL U2913WM 9DD4K62O241L'

  set $out_home_dell_over  'Dell Inc. DELL U2913WM 9DD4K62O241L'
  set $out_home_dell_under 'Dell Inc. DELL U2913WM 9DD4K62O422L'
  set $out_home_benq_right 'Unknown BenQ G2450H 32C03067019'

  set $out_home_benq1 'Unknown BenQ G2450H 32C02755019'
  set $out_home_benq2 'Unknown BenQ G2450H 32C03067019'
  set $out_home_switch 'Unknown EP-HDMI-RX 0x00005445'

# common config:

  output * {
    # default to some background that will probably exist:
    bg ~/Bilder/wallpapers/1 fill
  }

  output $out_home_switch {
    # the hdmi switch defaults to 1280x720 for some reason
    res 1920x1080
  }
