# Ignore everything by default:
*

# And then start whitelisting:
!.*
!*.sh
!/meta
!/meta/**/**

# ... but now there's too much again, so start blacklisting specifics:
.bash_history
.lesshst
.viminf*
.serverauth*
.forward
.gitconfig-private

!bin
!bin/**

!.config/**/**
!.local/**/**

!.babushka/**
.babushka/logs

!.vim/bundle/**/**
!.vim/config
!.vim/config/**/**
!.vim/UltiSnips
!.vim/UltiSnips/**/**

!.vim/coc-settings.json
