*
!.*

!*.sh

.bash_history
.lesshst
.viminf*
.serverauth*

.forward

!bin
!bin/**

!.config/awesome
!.config/i3
!.config/i3/**

!.babushka/**
.babushka/logs

!.vim/bundle
!.vim/bundle/**

#!.local/**

# strange that we need to unignore every single sub directory, but okay...
!.local
!.local/share
!.local/share/applications
!.local/share/applications/**

!.config/autostart
!.config/autostart/**
