# Ignore everything by default:
*

# And then start whitelisting:
!.*
!*.sh
!/meta
!/meta/**/**

# ... but now there's too much again, so start blacklisting specifics:
.bash_history
.lesshst
.viminf*
.serverauth*
.forward
.gitconfig-private

!bin
!bin/**

!scripts
!scripts/**/**

!.config/**/**
.config/coc/**/**
.config/libreoffice/**/**

!.local/**/**
.local/include/**/**
.local/lib/**/**
.local/share/**/**
.local/state/**/**

!.babushka/**
.babushka/logs

!.vim/bundle/**/**
!.vim/config
!.vim/config/**/**
!.vim/UltiSnips
!.vim/UltiSnips/**/**

!.vim/coc-settings.json

# blacklist specifics:
.config/chromium/Default
.config/google-chrome/Default
.config/google-chrome-*/**/**
.config/Cypress

.config/chromium
.config/google-chrome
.config/Slack

node_modules/

# all directories that look like they might be cache:
*cache*/
*Cache*/
