[submodule ".config/awesome/revelation"]
  path = .config/awesome/revelation
  url = git://github.com/bioe007/awesome-revelation.git
[submodule ".vim/bundle/rust.vim"]
  path = .vim/bundle/rust.vim
  url = https://github.com/wting/rust.vim.git
[submodule ".vim/bundle/vim-slim"]
  path = .vim/bundle/vim-slim
  url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-tabs"]
	path = .vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
