[include]
  path = ~/.gitconfig.d/alias.config
  path = ~/.gitconfig.d/colors.config
  path = ~/.gitconfig.d/user.config

[status]
  # Show detailed submodule info when doing git status:
  submoduleSummary = true

[diff]
  # Detected rename and copies.
  renames = copies

  # Don't show a/-b/ prefixes in diffs.
  noprefix = true

[merge]
  # Add common ancestor data in merge conflict diffs:
  conflictstyle = diff3

[push]
  default = simple

[init]
	defaultBranch = main

[core]
  # rebases can often fail due to modified files that are not modified, and
  # this seems to fix it:
  # https://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
  trustctime = false

[rerere]
	enabled = 1

[gc]
	reflogExpire = never
	worktreePruneExpire = 12.months.ago
	reflogExpireUnreachable = 12.months.ago
