[Desktop Entry]
Type=Application
Name=LXPolKit
Name[ca]=LXPolKit
Name[cs]=LXPolKit
Name[da]=LXPolKit
Name[el]=LXPolKit
Name[es]=LXPolKit
Name[et]=LXPolKit
Name[eu]=LXPolKit
Name[fi]=LXPolKit
Name[fr]=LXPolKit
Name[gl]=LXPolKit
Name[he]=LXPolKit
Name[id]=LXPolKit
Name[is]=LXPolKit
Name[ja]=LXpolkit
Name[kk]=LXPolKit
Name[ko]=LXPolKit
Name[lt]=LXPolKit
Name[nl]=LXPolKit
Name[pl]=Zestaw polityk LXPolKit
Name[pt]=LXPolKit
Name[pt_BR]=LXPolKit
Name[ru]=LXPolKit
Name[sk]=LXPolKit
Name[sr]=ЛИкс-Пол-Кит
Name[sr@latin]=LIks-Pol-Kit
Name[sv]=LXPolKit
Name[te]=ఎల్ఎక్స్‌పోల్‌కిట్
Name[tr]=LXPolKit
Name[uk]=LXPolKit
Name[zh_CN]=LXPolKit
Comment=Policykit Authentication Agent
Comment[ar]=وكيل الاستيثاق Policykit
Comment[ca]=Agent d'autenticació de Policykit
Comment[cs]=Policykit ověřovací agent
Comment[da]=Policykit-autentikationsagent
Comment[el]=Mεσολαβητής Πιστοποίησης Policykit
Comment[es]=Agente de autenticación de PolicyKit
Comment[et]=Policykit Autentimise Agent
Comment[eu]=Policykit autentifikazio-agentea
Comment[fi]=PolicyKit-tunnistautumisohjelma
Comment[fr]=Agent d'authentification Policykit
Comment[gl]=Axente Policykit de autenticación
Comment[he]=סוכן אימות מול ערכת מדיניות
Comment[id]=Agen Otentikasi PolicyKit
Comment[is]=PolicyKit auðkennisþjónn
Comment[ja]=Policykit 認証エージェント
Comment[kk]=PolicyKit аутентификация агенті
Comment[ko]=Policykit 인증 대리자
Comment[lg]=Puloguramu ekolera PolicyKit eby'okakasa
Comment[lt]=Policykit tapatybės nustatymo agentas
Comment[nl]=Authenticatie-agent Policykit
Comment[pl]=Agent uwierzytelnienia zestawu polityk
Comment[pt]=Agente de autenticação Policykit
Comment[pt_BR]=Agente de autenticação do Policykit
Comment[ru]=Агент аутенфикации Policykit
Comment[sr]=Полисикитов агент за идентификацију
Comment[sr@latin]=Polisikitov agent za identifikaciju
Comment[sv]=Autentiseringsagent för Policykit
Comment[tr]=Policykit Kimlik Doğrulama Aracı
Comment[uk]=Агент авторизації Policykit
Comment[zh_CN]=Policykit 认证代理
Comment[zh_TW]=Policykit 身分核對代理程式
Exec=lxpolkit
TryExec=lxpolkit
Icon=gtk-dialog-authentication
X-Desktop-File-Install-Version=0.23
OnlyShowIn=LXDE;sway;
