snippet des "describe-block for mocha/jest"
describe('${1}', () => {
	${VISUAL}
});
endsnippet

snippet it "it-block for mocha/jest"
it('${1:should exist}', () => {
	${2:expect(typeof ${3}).toBe('${4:function}');}
});
endsnippet
