# https://github.com/swaywm/sway/wiki#issues-with-java-applications
[Desktop Entry]
Name=Android Studio (from tar file, w/sway fix)
Exec=env _JAVA_AWT_WM_NONREPARENTING=1 opt/android-studio-ide-192.6392135-linux/android-studio/bin/studio.sh
Icon=com.google.AndroidStudio
Comment= android-studio-ide-192.6392135-linux (from tar file, w/sway fix)
Icon=com.google.AndroidStudio
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupWMClass=jetbrains-studio
